@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
*
{scroll-behavior: smooth;}

#title
{background: #ff4c68;}


.container-fluid{
    padding: 3% 15%;
  
}
h1
{font-family: 'Montserrat', sans-serif;
font-size: 3.3rem;
line-height: 1.5;
color: #fff;
}

.navbar-brand
{
    font-family: 'Ubuntu', sans-serif;
 font-size: 2rem;
 font-weight:bolder;}

 .navbar
 {padding: 0 0 4rem;
 background: none;
  }
.nav-item
{padding:0 18px;
}

.nav-link
{font-weight:lighter;
 font-size: 1.2rem;}
 .image
 {transform: rotate(25deg);
width: 60%;
position: absolute;
right: 30%;

}

 .download-button
 {margin:5% 3% 5% 0;}

#features
{background:none;
padding: 7% 15%;
background: none;
position: relative;
z-index: 1;
background:#fff;
}
 .feature-box
 {background:none;
    padding:5% ;
  text-align: center;
font-size:none;


}

h3{font-family: 'Roboto', sans-serif;}

p{color: grey;}

.fas{color:#ef8172;
    margin-bottom:2rem;
  }

  .fas:hover{color:#ff4c68;
}

#testimonials
{background:#ef8172 ;
text-align:center;
 
 color: #fff;
}

h2{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  font-weight: bolder;
font-size: 3rem;}


.test-image
{border-radius: 100%;
width: 10%;
 margin:20px;}

.testimonial-image 
 {width:10%;
  border-radius:100%;
  margin: 20px;}

#press
{background:#ef8172;
 text-align: center;
 
}
.press-image
{width:15%;
background:none;
margin:20px 20px 50px ;
}

.carousel-item
{padding:7% 15%;}

#pricing
{text-align: center;
 padding:10% 5%;}

 #footer
 {text-align: center;
 padding:7% 15%;
 

}
  #cta
  {text-align: center;
   background: #ff4c68;
  padding:7% 15%;
  color: #fff;

  }

.cta-text
{font-size: 3rem;
line-height:1.5 ;
 font-family: 'Montserrat', sans-serif;}

  .btn
 {margin:2% 2% 5% 0;
 }

 .f
 {margin:5px 8px;
  color:#000;}

 @media (max-width:998px)
 {
   .image
   {position:static;
     width:50%;
    transform: rotate(0deg);} 

h1{text-align: center;
  
  }


}